.abt {
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 5vw;
  overflow: visible;
}

.abtInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.abtInfo .abtHeader {
  width: -webkit-fill-available;
}
.abtInfo .abtHeader p {
  width: clamp(45ch, 50%, 75ch);
}
.abtInfo .abtTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.abtInfo .abtTitle h1 {
  width: -moz-min-content;
  width: min-content;
  font-size: clamp(4rem, 5.333vw + 0.333rem, 4.5rem);
  text-transform: uppercase;
  font-weight: 900;
}
.abtInfo .abtTitle h5 {
  max-width: -moz-min-content;
  max-width: min-content;
  text-transform: uppercase;
}
.abtInfo .detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 1rem;
}
.abtInfo .infoSlider {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.abtInfo .infoSlider .slide {
  height: 300px;
  border: 1px solid gray;
  border-radius: calc(var(--bRadius) * 2);
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s ease;
  will-change: contents;
}
.abtInfo .infoSlider .slide.active {
  width: 300px;
}
.abtInfo .infoSlider .slide.active .title {
  writing-mode: horizontal-tb;
  text-orientation: initial;
  letter-spacing: 0;
}
.abtInfo .infoSlider .slide.active .content {
  opacity: 1;
  display: block;
}
.abtInfo .infoSlider .slide .title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  letter-spacing: -5px;
}
.abtInfo .infoSlider .slide .content {
  color: white;
  margin-top: 1rem;
  text-align: center;
  opacity: 0;
  display: none;
}

.abtCanvas {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.abtCanvas .type {
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  inset: 0;
  padding: 1rem;
  z-index: 1;
}
.abtCanvas .type .Lword, .abtCanvas .type .Rword {
  display: inline-block;
}
.abtCanvas .type span {
  position: relative;
  padding: 0.5rem;
  margin-left: 0.5rem;
  color: black;
}
.abtCanvas .type span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: var(--bRadius);
  z-index: -1;
}
.abtCanvas .canv {
  height: 100%;
  background: var(--accent);
  border-radius: var(--bRadius);
  padding: 1rem;
  border: 1px solid gray;
}
.abtCanvas .sceneInfo {
  width: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.abtCanvas .sceneInfo h3 {
  font-size: 2rem;
  width: 50%;
}
.abtCanvas .sceneInfo .sceneInfoTitle {
  display: flex;
  flex-direction: column;
}
.abtCanvas .sceneInfo .contList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abtCanvas .sceneInfo > p {
  flex-grow: 1;
}/*# sourceMappingURL=About.css.map */