.abt {
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: stretch;
  align-items: stretch;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  gap: 5vw;
  overflow: visible;

  background-image: radial-gradient(circle, var(--dot) 1px, var(--dot) 1px, transparent 1px, transparent 100%);
  background-repeat: repeat;
  background-position: center;
  background-size: 25px 25px;
  mask-image: radial-gradient(70% 100%, #151520 70%, transparent 90%);
}
.abtInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  .abtHeader {
    // display: flex;
    width: -webkit-fill-available;

    p {
      width: clamp(45ch, 50%, 75ch);
    }
  }
  .abtTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: min-content;
    column-gap: 2rem;

    h1 {
      width: min-content;
      font-size: clamp(4rem, 5.333vw + 0.333rem, 4.5rem);
      text-transform: uppercase;
      font-weight: 900;
    }
    h5 {
      max-width: min-content;
      text-transform: uppercase;
    }
  }
  .detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 1rem;
  }
  .infoSlider {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    .slide {
      position: relative;
      height: 300px;
      border: 1px solid var(--border);
      border-radius: calc(var(--bRadius) * 2);
      background-color: var(--accent);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.5s ease;
      will-change: contents;

      &.active {
        width: 300px;
        .title {
          writing-mode: horizontal-tb;
          text-orientation: initial;
          letter-spacing: 0;
        }

        .content {
          opacity: 1;
          display: block;
        }
      }

      .slideIconWrap {
        position: absolute;
        top: 1rem;

        .slideIcon {
          width: 40px;
          height: 40px;
          margin: auto;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          font-size: 1.25rem;
          color: black;
          border: 1px solid var(--border);
          border-radius: calc(var(--bRadius) * 4);
          background-color: white;
          font-weight: bolder;
          vertical-align: middle;
          font-size: larger;
          line-height: 1;
        }
      }

      .title {
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
        letter-spacing: -5px;
      }
      .content {
        color: white;
        margin-top: 1rem;
        text-align: center;
        opacity: 0;
        display: none;
      }
    }
  }
}

.abtCanvas {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  .type {
    height: fit-content;
    position: absolute;
    inset: 0;
    padding: 1rem;
    z-index: 1;

    .Lword,
    .Rword {
      display: inline-block;
    }
    p {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 0.3rem;
    }

    span {
      width: fit-content;
      display: block;
      position: relative;
      padding: 0.5rem;
      margin-left: 0.5rem;
      color: black;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: invert($color: #000000);
        // background-color: invert($color: var(--bg));
        // background-color: invert(var(--bg));
        border-radius: var(--bRadius);
        z-index: -1;
      }
    }
  }
  .canv {
    height: 100%;
    background: var(--accent);
    border-radius: var(--bRadius);
    padding: 1rem;
    border: 1px solid var(--border);
    position: relative;

    .canvIcon {
      height: fit-content;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1rem;
      z-index: 1;
      display: flex;
      gap: 0.25rem;
      
      span{
        width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.25rem;
          color: black;
          border: 1px solid var(--border);
          border-radius: calc(var(--bRadius) * 4);
          background-color: white;
          // font-weight: bolder;
          vertical-align: middle;
          // font-size: x-large;
          line-height: 1;
      }
    }
  }

  .sceneInfo {
    width: 100%;
    // height: 100%;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    background: var(--accent);
    border-radius: var(--bRadius);
    padding: 1rem;
    border: 1px solid var(--border);
    // container-type: inline-size;

    h3 {
      font-size: 2rem;
      // font-size: 15cqh;
      width: 50%;
      // height: 100%;
      // line-height: 0;
      // margin: auto 0;
    }

    .sceneInfoTitle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .contList {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & > p {
      flex-grow: 1;
      overflow-y: scroll;
    }
  }
}

@media (width <= 999px) {
  .abt {
    height: auto;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    padding-block: 10vh;
    background: none;
    mask-image: none;
    gap: 10vh;

    .abtInfo {
      .abtHeader {
        place-items: center;
        text-align: center;

        p {
          width: 100%;
        }
      }
      .abtTitle {
        justify-content: center;
        h1 {
          font-size: clamp(2.5rem, 5.333vw + 0.333rem, 4.5rem);
        }
        h5 {
          display: none;
        }
      }
      .infoSlider {
        justify-content: center;
      }
    }

    .abtCanvas {
      height: 100%;

      .canv {
        min-height: 70vh;
      }
    }
  }
}

@media (width <= 650px) {
  .abt {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .abtCanvas .canv .canvIcon span{
    font-weight: bolder;
    font-size: x-large;
  }
}
@media (width <= 500px) {
  .abt {
    .abtInfo .infoSlider {
      min-height: 600px;
      flex-direction: column;

      .slide {
        flex-direction: row;
        justify-content: space-between;
        .slideIconWrap {
          position: relative;
          top: unset;
          .slideIcon {
            rotate: 90deg;
          }
        }
        .title {
          letter-spacing: 0px;
          text-orientation: initial;
          writing-mode: horizontal-tb;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
