@charset "UTF-8";
@supports (height: 100dvh) {
  .abt {
    height: 100dvh !important;
    min-height: 100dvh !important;
  }
}
.abt {
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 5vw;
  overflow: visible;
  background-image: radial-gradient(circle, var(--dot) 1px, var(--dot) 1px, transparent 1px, transparent 100%);
  background-repeat: repeat;
  background-position: center;
  background-size: 25px 25px;
  -webkit-mask-image: radial-gradient(70% 100%, #151520 70%, transparent 90%);
  mask-image: radial-gradient(70% 100%, #151520 70%, transparent 90%);
}

.abtInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.abtInfo .abtHeader {
  width: -webkit-fill-available;
}
.abtInfo .abtHeader p {
  width: clamp(55ch, 5.333vw + 0.333rem, 75ch);
}
.abtInfo .abtTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
.abtInfo .abtTitle h1 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: clamp(4rem, 5.333vw + 0.333rem, 4.5rem);
  text-transform: uppercase;
  font-weight: 900;
}
.abtInfo .abtTitle h5 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-transform: uppercase;
}
.abtInfo .detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 1rem;
}
.abtInfo .infoSlider {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.abtInfo .infoSlider .slide {
  position: relative;
  height: 300px;
  border: 1px solid var(--border);
  border-radius: calc(var(--bRadius) * 2);
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s ease;
  will-change: contents;
}
.abtInfo .infoSlider .slide.active {
  width: 300px;
}
.abtInfo .infoSlider .slide.active .title {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
  -webkit-text-orientation: initial;
  text-orientation: initial;
  letter-spacing: 0;
}
.abtInfo .infoSlider .slide.active .content {
  opacity: 1;
  display: block;
}
.abtInfo .infoSlider .slide .slideIconWrap {
  position: absolute;
  top: 1rem;
}
.abtInfo .infoSlider .slide .slideIconWrap .slideIcon {
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: black;
  border: 1px solid var(--border);
  border-radius: calc(var(--bRadius) * 4);
  background-color: white;
  font-weight: bolder;
  vertical-align: middle;
  font-size: larger;
  line-height: 1;
}
.abtInfo .infoSlider .slide .title {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  text-transform: uppercase;
  letter-spacing: -5px;
}
.abtInfo .infoSlider .slide .content {
  width: 100%;
  color: white;
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0;
  display: none;
}
.abtInfo .infoSlider .slide .content .abtCont {
  text-transform: uppercase;
}
.abtInfo .infoSlider .slide .content .abtCont li a {
  transition: all 0.5s ease;
}
.abtInfo .infoSlider .slide .content .abtCont li a:hover {
  color: var(--secAccent);
}
.abtInfo .infoSlider .slide .content .abtCont li a::before {
  content: "🔗";
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.abtInfo .infoSlider .slide .content li {
  margin-block: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.abtCanvas {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
}
.abtCanvas .type {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  inset: 0;
  padding: 1rem;
  z-index: 1;
}
.abtCanvas .type .Lword,
.abtCanvas .type .Rword {
  display: inline-block;
}
.abtCanvas .type p {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
}
.abtCanvas .type span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  position: relative;
  padding: 0.5rem;
  margin-left: 0.5rem;
  color: black;
}
.abtCanvas .type span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: var(--bRadius);
  z-index: -1;
}
.abtCanvas .canv {
  height: 100%;
  background: var(--accent);
  border-radius: var(--bRadius);
  padding: 1rem;
  border: 1px solid var(--border);
  position: relative;
}
.abtCanvas .canv .canvIcon {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;
  display: flex;
  gap: 0.25rem;
}
.abtCanvas .canv .canvIcon span {
  height: 40px;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: black;
  border: 1px solid var(--border);
  border-radius: calc(var(--bRadius) * 4);
  background-color: white;
  font-weight: bolder;
  vertical-align: middle;
  line-height: 1;
}
.abtCanvas .canv .canvIcon span p {
  font-size: 0.8rem;
  padding: 0.25rem;
  text-transform: uppercase;
}
.abtCanvas .canv .canvIcon span:hover {
  cursor: pointer;
}
.abtCanvas .sceneInfo {
  width: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  background: var(--accent);
  border-radius: var(--bRadius);
  padding: 1rem;
  border: 1px solid var(--border);
}
.abtCanvas .sceneInfo h3 {
  font-size: clamp(1rem, 5.333vw + 0.333rem, 2rem);
  line-height: 1;
}
.abtCanvas .sceneInfo h4 {
  font-size: 1rem;
  line-height: 1;
}
.abtCanvas .sceneInfo h6 {
  margin-bottom: 3px;
}
.abtCanvas .sceneInfo .sceneInfoTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
}
.abtCanvas .sceneInfo .contList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abtCanvas .sceneInfo > p {
  flex-grow: 1;
  overflow-y: scroll;
}

@media (width <= 999px) {
  .abt {
    height: auto;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    padding-block: 10vh;
    background: none;
    -webkit-mask-image: none;
    mask-image: none;
    gap: 10vh;
  }
  .abt .abtInfo .abtHeader {
    place-items: center;
    text-align: center;
  }
  .abt .abtInfo .abtHeader p {
    width: 100%;
  }
  .abt .abtInfo .abtTitle {
    justify-content: center;
    margin: auto;
  }
  .abt .abtInfo .abtTitle h1 {
    font-size: clamp(2.5rem, 5.333vw + 0.333rem, 4.5rem);
  }
  .abt .abtInfo .abtTitle h5 {
    display: none;
  }
  .abt .abtInfo .infoSlider {
    justify-content: center;
  }
  .abt .abtCanvas {
    height: 100%;
  }
  .abt .abtCanvas .canv {
    min-height: 70vh;
  }
}
@media (width <= 650px) {
  .abt {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .abt .abtCanvas .sceneInfo h3 {
    font-size: 1.25rem !important;
  }
  .abtCanvas .canv .canvIcon span {
    font-weight: bolder;
    font-size: x-large;
  }
}
@media (width <= 500px) {
  .abt .abtInfo .infoSlider {
    min-height: 600px;
    flex-direction: column;
  }
  .abt .abtInfo .infoSlider .slide {
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
  }
  .abt .abtInfo .infoSlider .slide .slideIconWrap {
    position: relative;
    top: unset;
  }
  .abt .abtInfo .infoSlider .slide .slideIconWrap .slideIcon {
    rotate: 90deg;
  }
  .abt .abtInfo .infoSlider .slide .title {
    letter-spacing: 0px;
    -webkit-text-orientation: initial;
    text-orientation: initial;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    width: 100%;
    text-align: center;
  }
  .abt .abtCanvas .sceneInfo h3 {
    font-size: 1.25rem;
  }
  .abt .abtCanvas .sceneInfo h4 {
    font-size: 0.9rem;
  }
  .abt .abtCanvas .sceneInfo > p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=About.css.map */