// Component styling


::selection {
  background: gray;
  color: #fff;
  -webkit-text-fill-color: #fff;
}
::-webkit-scrollbar-track {
background: inherit;
}
::-webkit-scrollbar-thumb {
background: #fff6;
border-radius: 99px;
}
::-webkit-scrollbar {
width: 5px;
height: 5px;
background: inherit;
}

// .splitWrap:hover {
//   letter-spacing: -2px;
// }
.split {
  display: inline-block;
  text-transform: none;
}

// Header
.header {
  width: 100%;
  position: fixed;
  top: 0;
  /* left: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6969;
  & > h1 {
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  .menu {
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-top: none;
    border-radius: 0 0 calc(var(--bRadius) * 4) calc(var(--bRadius) * 4);
    cursor: pointer;
    backdrop-filter: blur(2px);

    .menu-item {
      width: 50%;
      height: 100%;
      position: absolute;
      top: -50px;
      left: 0;
      transform-origin: 100% 100%;
      overflow: hidden;
      scale: 2;
      opacity: 0;
      display: none;

      &:first-child {
        transform: rotate(-210deg) skewY(30deg);
      }
      &:nth-child(2) {
        transform: rotate(-150deg) skewY(30deg);
      }
      &:nth-child(3) {
        transform: rotate(-90deg) skewY(30deg);
      }

      & > div {
        width: 200%;
        height: 200%;
        border-radius: 50%;
        transform: skewY(-30deg) rotate(-30deg);
        background-image: radial-gradient(75% 75% at 50% 50%, rgba(255, 255, 255, 0) 25%, rgb(234 234 234 / 50%) 100%);
        display: block;
        opacity: 0.5;
        border: 1px solid var(--border);
        // padding: 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        & > * {
          display: block;
          transform: rotate(-180deg) scale(0.4);
          padding: 1rem;
          margin: -1rem;
          border-radius: 50%;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .underlay {
    position: absolute;
    top: 0;
    // left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at 50% 0, rgb(15 15 15) 10%, rgba(0, 0, 0, 0) 50%);
    backdrop-filter: blur(5px);
    mask: radial-gradient(circle at 50% 0, rgb(0 0 0) 20%, rgba(0, 0, 0, 0) 50%);
    opacity: 0;
    pointer-events: none;
    transform-origin: top center;
  }
}


// Loader
.loader {
  // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  z-index: 2;

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0;
    overflow: hidden;
  }

  &__progressWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    z-index: 3;
  }

  &__progress {
    height: 100%;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left center;
  }

  &__progressNumber {
    position: absolute;
    left: -5vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    white-space: nowrap;
    color: white;
    font-size: 3.2rem;
  }
}