::-moz-selection {
  background: gray;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

::selection {
  background: gray;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 99px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: inherit;
}

[data-hidden] {
  opacity: 0;
}

.splitWrap {
  transition: all 0.5s ease;
}
.splitWrap:hover {
  color: var(--secAccent);
}

.split {
  display: inline-block;
  text-transform: inherit;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  /* left: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6969;
}
.header > h1 {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.header .menu {
  position: relative;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-top: none;
  border-radius: 0 0 calc(var(--bRadius) * 4) calc(var(--bRadius) * 4);
  cursor: pointer;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header .menu .menu-item {
  width: 50%;
  height: 100%;
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: 100% 100%;
  overflow: hidden;
  scale: 2;
  opacity: 0;
  display: none;
}
.header .menu .menu-item:first-child {
  transform: rotate(-210deg) skewY(30deg);
}
.header .menu .menu-item:nth-child(2) {
  transform: rotate(-150deg) skewY(30deg);
}
.header .menu .menu-item:nth-child(3) {
  transform: rotate(-90deg) skewY(30deg);
}
.header .menu .menu-item > div {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transform: skewY(-30deg) rotate(-30deg);
  background-image: radial-gradient(75% 75% at 50% 50%, rgba(255, 255, 255, 0) 25%, rgba(234, 234, 234, 0.5) 100%);
  display: block;
  opacity: 0.5;
  border: 1px solid var(--border);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.header .menu .menu-item > div > * {
  display: block;
  transform: rotate(-180deg) scale(0.4);
  padding: 1rem;
  margin: -1rem;
  border-radius: 50%;
}
.header .menu .menu-item > div:hover {
  opacity: 1;
}
.header .underlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 50% 0, rgb(15, 15, 15) 10%, rgba(0, 0, 0, 0) 50%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-mask: radial-gradient(circle at 50% 0, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 50%);
          mask: radial-gradient(circle at 50% 0, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 50%);
  opacity: 0;
  pointer-events: none;
  transform-origin: top center;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  z-index: 2;
}
.loaderWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%, 0% 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%, 0% 50%, 100% 50%, 100% 100%, 0% 100%);
  background: var(--accent);
  z-index: 1000;
}
.loaderProgress {
  height: 100%;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left center;
}
.loaderProgressNumber {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  white-space: nowrap;
  color: white;
  font-size: clamp(4rem, 5.333vw + 0.333rem, 7.5rem);
  text-align: center;
  width: 100%;
}
.loaderGlow {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: black;
}

.sound {
  pointer-events: all;
  cursor: pointer;
}
.sound span {
  display: block;
  width: 30px;
  height: 30px;
  align-content: center;
  text-align: -webkit-center;
  outline: 1px gray solid;
  border-radius: 100px;
}
.sound span svg {
  width: 50%;
  height: 50%;
  vertical-align: middle;
}/*# sourceMappingURL=Component.css.map */