/* kufam-regular */
@font-face {
  font-display: swap;
  font-family: "Kufam";
  font-style: normal;
  src: url("/Font/kufam.woff2") format("woff2");
}
/* krona-one-regular */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-width: 100%;
  width: auto;
  height: max(100vh, 100%);
  margin: 0;
  padding: 0;
  --accent: #141414;
  --dot: #3c3c3c;
  --bg: #0d0d0d;
  --border: rgba(128, 128, 128, 0.25);
  --bRadius: 24px;
  background-color: var(--bg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#root {
  background-position: center;
  background-size: cover;
  height: max(100vh, 100%);
  min-height: 100vh;
}

body {
  font-family: "kufam", helvetica neue, helvetica, arial, sans-serif;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  all: unset;
}

h1 {
  font-size: clamp(1rem, 5.333vw + 0.333rem, 1.5rem);
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  font-size: clamp(1rem, 5.333vw + 0.333rem, 1.25rem);
  text-transform: uppercase;
  font-weight: 600;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 0 5vw;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 2;
  pointer-events: none;
}
.hero .main-hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero .main-hero .nav {
  min-width: 150px;
  list-style: none;
  align-content: center;
  text-transform: capitalize;
}
.hero .main-hero .nav a {
  opacity: 0.7;
  transition: all 0.5s ease;
  pointer-events: all;
}
.hero .main-hero .nav a.active, .hero .main-hero .nav a:hover {
  opacity: 1;
}
.hero .main-hero .nav a:hover {
  opacity: 1;
}
.hero .main-hero .detail {
  min-width: 300px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero .main-hero .detail .project {
  text-transform: capitalize;
  font-size: 1.25rem;
}
.hero .main-hero .detail .project h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.hero .main-hero .detail .project li {
  margin-block: 0.25rem;
}
.hero .main-hero .detail .project li.active p,
.hero .main-hero .detail .project li p:hover, .hero .main-hero .detail .project li.active a,
.hero .main-hero .detail .project li a:hover {
  opacity: 1;
  color: brown;
}
.hero .main-hero .detail .project li a,
.hero .main-hero .detail .project li p {
  opacity: 0.7;
  transition: all 0.5s ease;
  width: -moz-fit-content;
  width: fit-content;
  pointer-events: all;
}
.hero .main-hero .detail .project li a.active, .hero .main-hero .detail .project li a:hover,
.hero .main-hero .detail .project li p.active,
.hero .main-hero .detail .project li p:hover {
  opacity: 1;
}
.hero .titleMobile {
  display: none;
}
.hero .hero-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  font-size: 0.75rem;
}
.hero .hero-footer .sound {
  pointer-events: all;
  cursor: pointer;
}
.hero .hero-footer .sound span {
  display: block;
  width: 30px;
  height: 30px;
  align-content: center;
  text-align: -webkit-center;
  border: 1px gray outset;
  border-radius: 100px;
}
.hero .hero-footer .bCrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  transform-style: preserve-3d;
  perspective: 25vw;
  pointer-events: all;
  position: absolute;
  left: 50%;
  translate: -50% 0;
}
.hero .hero-footer .bCrumb li {
  width: 30px;
  height: 30px;
  scale: 0.5 0.05;
  border-radius: 0;
  border: 2px solid white;
  background: white;
  text-align: center;
  align-content: center;
  transition: all 0.5s ease, scale 0.25s ease, background 1s cubic-bezier(0, 1, 0, 1);
}
.hero .hero-footer .bCrumb li:hover {
  cursor: pointer;
}
.hero .hero-footer .bCrumb li.active {
  opacity: 1;
  scale: 1;
  background: transparent;
  border-radius: 50%;
}
.hero .hero-footer .contact {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-transform: uppercase;
}
.hero .hero-footer .contact a {
  opacity: 0.7;
  transition: all 0.5s ease;
  pointer-events: all;
}
.hero .hero-footer .contact a.active, .hero .hero-footer .contact a:hover {
  opacity: 1;
}
.hero .hero-footer .contact a:hover {
  opacity: 1;
}

@media (width <= 999px) {
  .hero .main-hero {
    justify-content: start;
  }
  .hero .main-hero .nav {
    display: none;
  }
  .hero .main-hero .detail {
    min-width: auto;
    flex-direction: row;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 10vh;
    justify-content: space-between;
    gap: 1rem;
    font-variant-caps: all-small-caps;
  }
  .hero .main-hero .detail h1 {
    line-height: 1;
  }
  .hero .main-hero .detail .project {
    display: none;
  }
  .hero .titleMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .titleMobile a {
    text-transform: uppercase;
    font-size: 1.5rem;
    pointer-events: all;
    transition: all 0.5s ease;
  }
  .hero .hero-footer .contact {
    min-width: auto;
  }
}
@media (width <= 550px) {
  .hero .main-hero .detail h5 {
    width: -moz-min-content;
    width: min-content;
  }
  .hero .hero-footer .contact {
    display: none;
  }
}/*# sourceMappingURL=Home.css.map */