@supports(height: 100dvh) {
  .work-wrap{
    min-height: 100dvh !important;
    }
}
.work-wrap {
  // min-width: fit-content;
  width: 100vw;
  // height: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0 5vw;
  //   display: flex;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
  overflow: visible;
}
.work {
  //   width: 80%;
  //   min-width: 80vw;
  // min-width: 600px;
  max-width: 600px;
  // height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .title {
    h1 {
      font-size: clamp(1rem, 5.333vw + 0.333rem, 2rem);
    }
    h6 {
      text-transform: uppercase;
    }
  }
  .detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: start;
    min-height: 200px;
    gap: 1.5rem;

    .desc {
      font-size: 0.9rem;
      p {
        margin-block: 5px;
      }
      ul {
        list-style-position: inside;

        li {
          a {
            transition: all 0.5s ease;
            &:hover {
              color: var(--secAccent);
            }
          }

          &::before {
            content: counter(list-item) "› ";
            display: inline-block;
            vertical-align: middle;
            font-size: 0.5rem;
            margin-right: 1rem;
          }
          &::after {
            content: "🔗";
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.5rem;
          }
        }
      }
    }
    .service {
      // max-width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2.5vh;
    }

    .service {
      .serviceList {
        ul {
          list-style: none;
          padding: 0px;
          font-size: 0.8rem;

          li {
            text-transform: capitalize;
          }
        }
      }
      .stack {
        ul {
          display: inline;
          list-style: none;
          padding: 0px;
          font-size: 0.8rem;

          li {
            display: inline;
            text-transform: capitalize;

            &::after {
              content: ", ";
            }

            &:last-child::after {
              content: "";
            }
          }
        }
      }
    }

    .liveBtn {
      // width: 100%;
      // filter: contrast(10);
      position: relative;

      a {
        overflow: hidden;
      }
      & span {
        // margin-right: 0.5rem;
        // position: absolute;

        top: 50%;
        left: 100%;
        translate: 5% -50%;
        width: 40px;
        height: 40px;
        padding: 0.5rem;
        display: inline-block;
        text-align: center;
        // border: 2px solid var(--border);
        border-radius: 50%;
        // background-color: white;
        color: white;
        font-weight: bolder;
        vertical-align: middle;
        font-size: larger;
        line-height: 1;
        transform-origin: right;
        transition: all 0.25s ease;

        -webkit-backdrop-filter: invert(1);

        backdrop-filter: invert(1);
        position: absolute;
        left: 100%;
        z-index: 1;
        mix-blend-mode: difference;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 25%;
          translate: -50% -50%;
          width: 10px;
          height: 10px;
          display: inline-block;
          border-radius: 50%;
          scale: 0;
          opacity: 0;
          // background: white;
          transition: all 0.25s ease-in-out, opacity 0s;
        }
      }
      &:hover {
        & span {
          translate: -50% -50%;

          &::before {
            background: white;
            scale: 1;
            opacity: 1;
            -webkit-animation: eye 5s
              linear(
                0 0%,
                0 1.8%,
                0.01 3.6%,
                0.03 6.35%,
                0.07 9.1%,
                0.13 11.4%,
                0.19 13.4%,
                0.27 15%,
                0.34 16.1%,
                0.54 18.35%,
                0.66 20.6%,
                0.72 22.4%,
                0.77 24.6%,
                0.81 27.3%,
                0.85 30.4%,
                0.88 35.1%,
                0.92 40.6%,
                0.94 47.2%,
                0.96 55%,
                0.98 64%,
                0.99 74.4%,
                1 86.4%,
                1 100%
              )
              forwards infinite alternate;
            animation: eye 5s
              linear(
                0 0%,
                0 1.8%,
                0.01 3.6%,
                0.03 6.35%,
                0.07 9.1%,
                0.13 11.4%,
                0.19 13.4%,
                0.27 15%,
                0.34 16.1%,
                0.54 18.35%,
                0.66 20.6%,
                0.72 22.4%,
                0.77 24.6%,
                0.81 27.3%,
                0.85 30.4%,
                0.88 35.1%,
                0.92 40.6%,
                0.94 47.2%,
                0.96 55%,
                0.98 64%,
                0.99 74.4%,
                1 86.4%,
                1 100%
              )
              forwards infinite alternate;
            animation-composition: accumulate;
          }
        }
      }
      a {
        display: inline-block;
        min-width: 125px;
        padding: 0.5rem 1rem;
        // margin-left: 1rem;
        position: relative;
        background-color: var(--bg);
        border: 2px solid var(--border);
        border-radius: var(--bRadius);
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        color: var(--secAccent);
      }
    }
  }
}
@-webkit-keyframes eye {
  0% {
    transform: translate(0px, 0px) rotate3d(1, 1, 0, 0deg);
  }
  20% {
    transform: translate(-2px, -2px) rotate3d(-1, 1, 0, -35deg);
  }
  40% {
    transform: translate(2px, -2px) rotate3d(1, 1, 0, 35deg);
  }
  60% {
    transform: translate(-2px, 2px) rotate3d(-1, -1, 0, -35deg);
  }
  80% {
    transform: translate(2px, 2px) rotate3d(-1, 1, 0, 35deg);
  }
  100% {
    transform: translate(0px, 0px) rotate3d(1, 1, 0, 0deg);
  }
}
@keyframes eye {
  0% {
    transform: translate(0px, 0px) rotate3d(1, 1, 0, 0deg);
  }
  20% {
    transform: translate(-2px, -2px) rotate3d(-1, 1, 0, -35deg);
  }
  40% {
    transform: translate(2px, -2px) rotate3d(1, 1, 0, 35deg);
  }
  60% {
    transform: translate(-2px, 2px) rotate3d(-1, -1, 0, -35deg);
  }
  80% {
    transform: translate(2px, 2px) rotate3d(-1, 1, 0, 35deg);
  }
  100% {
    transform: translate(0px, 0px) rotate3d(1, 1, 0, 0deg);
  }
}

// .gallery {
//   height: 100%;
//   // min-width: 100vw;
//   width: 100vw;

//   .image-slider {
//     height: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 5vw;
//     overflow: visible;
//     // .image-wrapper {
//       //   display: inline-block;
//       //   margin-right: 10px;
//       img {
//         max-height: 60%;
//         width: 60vw;
//         border-radius: 20px;

//         &:last-of-type{
//             margin-right: 10vw;
//         }
//       }
//     // }
//   }
// }

.gallery {
  display: flex;

  //for horizontal
  // flex-direction: row;

  flex-direction: column;
  justify-content: space-evenly;

  min-height: 100vh;
  // height: fit-content;
  // width: 60vw;
  position: relative;
  // padding-block: 10vh;
  // margin-block: 10vh;
  // overflow: hidden;
  gap: 5vh;
  // scroll-snap-type: y mandatory;

  .imgWrap:first-of-type {
    margin-top: 10vh;
  }
  .imgWrap {
    position: relative;
    border-radius: var(--bRadius);
    --opac: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      height: 102%;
      width: 102%;
      background: var(--accent);
      opacity: var(--opac);
      border-radius: inherit;
      z-index: 1;
    }
  }
}

.media-slide {
  // height: 100vh; /* Full height */
  width: 60vw; /* Full width */
  position: relative;
  // position: absolute;
  // top: 0;
  // left: 0;
  border-radius: var(--bRadius);
  -o-object-fit: scale-down;
  object-fit: scale-down;
  transition: transform 1s ease-out;
  // scroll-snap-align: center;
  transform-origin: center;
  height: auto;
  aspect-ratio: 16 / 9;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.next {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  height: 150px;
  padding: 1rem 1.5rem;
  margin-block: 5vh;
  border-radius: var(--bRadius);
  gap: 1rem;

  .pTitle {
    width: 150px;
    p {
      color: gray;
      text-transform: uppercase;
      font-size: 0.75rem;
    }
    h2 {
      font-size: clamp(1rem, 5.333vw + 0.333rem, 1.75rem);
    }
  }

  .dragBounds {
    height: 50px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.25rem;
    background-color: #f1ccba4f;
    border-radius: var(--bRadius);
    transition: all 0.5s ease;
    &:hover {
      // box-shadow: inset 0px 10px 10px #f1ccba94;
      background: #f1ccbab3;
      box-shadow: inset 8px 8px 16px #debcab, inset -8px -8px 16px #ffdcc9;
      cursor: pointer;
      .drag {
        box-shadow: 0px 0px 8px 2px rgb(255 184 149 / 50%);
      }
    }
    .placeholder {
      opacity: 0.5;
      -webkit-mask-image: none;
      mask-image: none;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      transition: -webkit-mask-image 0.2s, mask-image 0.2s;
      text-align: center;
    }
    .drag {
      height: 40px;
      width: 65px;
      position: relative;
      background-color: whitesmoke;
      border-radius: var(--bRadius);
      transition: box-shadow 0.5s ease;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 20%;
        height: 60%;
        background-image: radial-gradient(var(--accent) 1px, transparent 0px);
        background-repeat: repeat;
        background-size: 5px 5px;
        background-position: center;
        border-radius: inherit;
      }
    }
    .hit {
      width: 65px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-inline: 10px;
      opacity: 0;
      transition: opacity 0.25s ease;
    }
  }

  .nextProjImg {
    height: 100%;
    border-radius: calc(var(--bRadius) / 2);
  }
}

// .gallery-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   width: 100%;
//   overflow: hidden;
//   position: relative;
// }

// .gallery-card {
//   width: 100%;
//   overflow: hidden;
//   position: absolute;
//   transition: height 0.5s ease;
// }

// .gallery-card img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

@media (width <= 999px) {
  .work-wrap {
    flex-direction: column;
    align-items: center;
    padding-block: 10vh 0;
    height: auto;

    .work {
      width: 100%;
      max-width: unset;
      flex-direction: row;
      justify-content: space-around;
      gap: 10vw;
      align-items: baseline;
      position: relative;

      h1 {
        font-size: clamp(1rem, 5.333vw + 0.333rem, 2.25rem);
      }
      .detail {
        display: flex;
        flex-wrap: wrap;

        .desc {
          max-width: unset;
        }
      }
    }
  }
  .gallery {
    align-items: center;
    width: 100%;
    .imgWrap {
      width: 100%;
      &::before {
        height: 100%;
        width: 100%;
      }
    }
    .media-slide {
      width: 100%;
    }
  }
}
@media (width <= 600px) {
  .work-wrap {
    touch-action: auto;
    .work {
      flex-wrap: wrap;
      justify-content: flex-start;

      h1 {
        font-size: clamp(2.5rem, 5.333vw + 0.333rem, 3rem);
      }
    }
  }
  .next {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    border-radius: calc(var(--bRadius) / 2);

    .nextProjImg {
      width: 100%;
      height: auto;
      border-radius: calc(var(--bRadius) / 4);
    }

    .dragBounds {
      width: 100%;
      max-width: unset;
      // height: 35px;
      order: 2;

      // .drag {
      //   // height: 30px;
      //   // width: 50px;
      // }
    }
  }
}
