.work-wrap {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 0 5vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
  overflow: visible;
}

.work {
  max-width: 600px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  position: sticky;
  top: 0;
}
.work .title h1 {
  font-size: clamp(1rem, 5.333vw + 0.333rem, 2rem);
}
.work .title h6 {
  text-transform: uppercase;
}
.work .detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  min-height: 200px;
  gap: 1.5rem;
}
.work .detail .desc,
.work .detail .service {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5vh;
}
.work .detail .service .stack ul {
  display: inline;
  list-style: none;
  padding: 0px;
  font-size: 0.8rem;
}
.work .detail .service .stack ul li {
  display: inline;
  text-transform: capitalize;
}
.work .detail .service .stack ul li::after {
  content: ", ";
}
.work .detail .service .stack ul li:last-child::after {
  content: "";
}
.work .detail .liveBtn {
  width: 100%;
  filter: contrast(10);
}
.work .detail .liveBtn span {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  display: inline-block;
  text-align: center;
  border: 2px solid var(--border);
  border-radius: 50%;
  background-color: white;
  color: black;
  font-weight: bolder;
  vertical-align: middle;
  font-size: larger;
  line-height: 1;
  transform-origin: right;
  transition: all 0.5s ease-in-out;
}
.work .detail .liveBtn span:hover::before {
  transform: rotateY(180deg);
  width: 100px;
}
.work .detail .liveBtn a {
  padding: 0.5rem 1rem;
  position: relative;
  border: 2px solid var(--border);
  border-radius: var(--bRadius);
  transition: all 0.5s ease-in-out;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  position: relative;
  gap: 5vh;
}
.gallery .image-slide:first-of-type {
  margin-top: 10vh;
}

.image-slide {
  width: 60vw; /* Full width */
  border-radius: var(--bRadius);
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s ease-out;
  transform-origin: center;
}

.next {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  height: 150px;
  padding: 1rem 1.5rem;
  margin-block: 5vh;
  border-radius: var(--bRadius);
  gap: 1rem;
}
.next .pTitle {
  width: 150px;
}
.next .pTitle p {
  color: gray;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.next .pTitle h2 {
  font-size: clamp(1rem, 5.333vw + 0.333rem, 1.75rem);
}
.next .dragBounds {
  height: 50px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.25rem;
  background-color: rgb(175, 175, 175);
  border-radius: var(--bRadius);
}
.next .dragBounds .drag {
  height: 40px;
  width: 65px;
  background-color: whitesmoke;
  border-radius: var(--bRadius);
}
.next .dragBounds .hit {
  width: 65px;
  height: 100%;
}
.next .nextProjImg {
  height: 100%;
  border-radius: calc(var(--bRadius) / 2);
}

@media (width <= 999px) {
  .work-wrap {
    flex-direction: column;
    align-items: center;
    padding-block: 10vh 0;
    height: auto;
  }
  .work-wrap .work {
    width: 100%;
    max-width: unset;
    flex-direction: row;
    justify-content: space-around;
    gap: 10vw;
    align-items: baseline;
    position: relative;
  }
  .work-wrap .work h1 {
    font-size: clamp(1rem, 5.333vw + 0.333rem, 2.25rem);
  }
  .work-wrap .work .detail {
    display: flex;
    flex-wrap: wrap;
  }
  .work-wrap .work .detail .desc {
    max-width: unset;
  }
  .gallery {
    align-items: center;
    width: 100%;
  }
  .gallery .image-slide {
    width: 90%;
  }
}
@media (width <= 600px) {
  .work-wrap .work {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .work-wrap .work h1 {
    font-size: clamp(2.5rem, 5.333vw + 0.333rem, 3rem);
  }
  .next {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    border-radius: calc(var(--bRadius) / 2);
  }
  .next .nextProjImg {
    width: 100%;
    height: auto;
    border-radius: calc(var(--bRadius) / 4);
  }
  .next .dragBounds {
    width: 100%;
    max-width: unset;
    order: 2;
  }
}/*# sourceMappingURL=Work.css.map */