.work-wrap {
  // min-width: fit-content;
  width: 100vw;
  // height: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0 5vw;
  //   display: flex;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
  overflow: visible;
}
.work {
  //   width: 80%;
  //   min-width: 80vw;
  // min-width: 600px;
  max-width: 600px;
  // height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  position: sticky;
  top: 0;

  .title {
    h1 {
      font-size: clamp(1rem, 5.333vw + 0.333rem, 2rem);
    }
    h6 {
      text-transform: uppercase;
    }
  }
  .detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    min-height: 200px;
    gap: 1.5rem;

    .desc,
    .service {
      max-width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2.5vh;
    }

    .service .stack {
      ul {
        display: inline;
        list-style: none;
        padding: 0px;
        font-size: 0.8rem;

        li {
          display: inline;
          text-transform: capitalize;

          &::after {
            content: ", ";
          }

          &:last-child::after {
            content: "";
          }
        }
      }
    }

    .liveBtn {
      width: 100%;
      filter: contrast(10);
      span {
        // margin-right: 0.5rem;
        // position: absolute;
        // top: -50%;
        // left: -50%;
        width: 40px;
        height: 40px;
        padding: 0.5rem;
        display: inline-block;
        text-align: center;
        border: 2px solid var(--border);
        border-radius: 50%;
        background-color: white;
        color: black;
        font-weight: bolder;
        vertical-align: middle;
        font-size: larger;
        line-height: 1;
        transform-origin: right;
        transition: all 0.5s ease-in-out;

        // &::before {
        //   content: "";
        //   // margin-right: 0.5rem;
        //   position: absolute;
        //   top: -50%;
        //   left: -50%;
        //   width: 1rem;
        //   height: 1rem;
        //   padding: 0.5rem;
        //   display: inline-block;
        //   border: 2px solid var(--border);
        //   border-radius: 50%;
        //   transform-origin: right;
        //   transition: all 0.5s ease-in-out;
        // }

        &:hover {
          &::before {
            transform: rotateY(180deg);
            width: 100px;
          }
        }
      }
      a {
        padding: 0.5rem 1rem;
        // margin-left: 1rem;
        position: relative;
        // background-color: white;
        // color: black;
        border: 2px solid var(--border);
        border-radius: var(--bRadius);
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

// .gallery {
//   height: 100%;
//   // min-width: 100vw;
//   width: 100vw;

//   .image-slider {
//     height: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 5vw;
//     overflow: visible;
//     // .image-wrapper {
//       //   display: inline-block;
//       //   margin-right: 10px;
//       img {
//         max-height: 60%;
//         width: 60vw;
//         border-radius: 20px;

//         &:last-of-type{
//             margin-right: 10vw;
//         }
//       }
//     // }
//   }
// }

.gallery {
  display: flex;

  //for horizontal
  // flex-direction: row;

  flex-direction: column;
  justify-content: space-evenly;

  min-height: 100vh;
  // height: fit-content;
  // width: 60vw;
  position: relative;
  // padding-block: 10vh;
  // margin-block: 10vh;
  // overflow: hidden;
  gap: 5vh;
  // scroll-snap-type: y mandatory;

  .image-slide:first-of-type {
    margin-top: 10vh;
  }
}

.image-slide {
  // height: 100vh; /* Full height */
  width: 60vw; /* Full width */
  // position: absolute;
  // top: 0;
  // left: 0;
  border-radius: var(--bRadius);
  object-fit: cover;
  transition: transform 1s ease-out;
  // scroll-snap-align: center;
}

.next {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  height: 150px;
  padding: 1rem 1.5rem;
  margin-block: 5vh;
  border-radius: var(--bRadius);
  gap: 1rem;

  .pTitle {
    width: 150px;
    p {
      color: gray;
      text-transform: uppercase;
      font-size: 0.75rem;
    }
    h2 {
      font-size: clamp(1rem, 5.333vw + 0.333rem, 1.75rem);
    }
  }

  .dragBounds {
    height: 50px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.25rem;
    background-color: rgb(175, 175, 175);
    border-radius: var(--bRadius);
    // border: red 1px solid;

    .drag {
      height: 40px;
      width: 65px;
      background-color: whitesmoke;
      border-radius: var(--bRadius);
      // border: red 1px solid;
    }
    .hit {
      width: 65px;
      height: 100%;
    }
  }

  .nextProjImg {
    height: 100%;
    border-radius: calc(var(--bRadius) / 2);
  }
}

// .gallery-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   width: 100%;
//   overflow: hidden;
//   position: relative;
// }

// .gallery-card {
//   width: 100%;
//   overflow: hidden;
//   position: absolute;
//   transition: height 0.5s ease;
// }

// .gallery-card img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

@media (width <= 999px) {
  .work-wrap {
    flex-direction: column;
    align-items: center;
    padding-block: 10vh 0;
    height: auto;

    .work {
      width: 100%;
      max-width: unset;
      flex-direction: row;
      justify-content: space-around;
      gap: 10vw;
      align-items: baseline;
      position: relative;

      h1 {
        font-size: clamp(1rem, 5.333vw + 0.333rem, 2.25rem);
      }
      .detail {
        display: flex;
        flex-wrap: wrap;

        .desc {
          max-width: unset;
        }
      }
    }
  }
  .gallery {
    align-items: center;
    width: 100%;

    .image-slide {
      width: 90%;
    }
  }
}
@media (width <= 600px) {
 .work-wrap .work{
  flex-wrap: wrap;
  justify-content: flex-start;
  }
  .next {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    border-radius: calc(var(--bRadius) / 2);

    .nextProjImg {
      width: 100%;
      height: auto;
      border-radius: calc(var(--bRadius) / 4);
    }

    .dragBounds {
      width: 100%;
      max-width: unset;
      height: 35px;
      order: 2;

      .drag {
        height: 30px;
        width: 50px;}
    }
  }
}
